{% extends 'base.html' %}

{% block title %} EDIT {% endblock %}

{% block body %}
<h3>Edit: {{game.id}}</h3>
<div class="container">
    <form action="" method="POST">
        <div class="form-group">
            <label>Title:</label>
            <input type="text" class="form-control" name="title" required="1" value="{{game.title}}">
        </div>
        <div class="form-group">
            <label>Developer:</label>
            <input type="text" class="form-control" name="developer" required="1" value="{{game.developer}}">
        </div>
        <div class="form-group">
            <label>Publisher:</label>
            <input type="text" class="form-control" name="publisher" required="1" value="{{game.publisher}}">
        </div>
        <div class="form-group">
            <label>Available Platforms:</label>
            <input type="text" class="form-control" name="available_platforms" required="1" value="{{game.available_platforms}}">
        </div>
        <button type="submit" class="btn btn-primary">Update Game</button>
    </form>
    </form>
</div>
{% endblock %}